.action-btn{
    display: flex;
    flex-flow: row;
    align-items: center;
    background: greenyellow;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2px 10px;
    max-height: 100px;
    min-width: 200px;

    &:hover{
        cursor: pointer;
        background: green;
    }
}