.back{
    /* Set rules to fill background */
    min-height: 100%;
        
    /* Set up proportionate scaling */
    min-width: 100%;
    height: auto;
        
    /* Set up positioning */
    position: absolute;
    top: 0;
    left: 0;
    background: url(./../resources/background-pic.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}