.wrp{
    margin: 10px;
    .header{
        color: red;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 10px;
        text-align: center;
        white-space: nowrap;
        margin-left: 10px;
        cursor: pointer;
    }
    .board{
        display: flex;
        flex-flow: row nowrap
    }

    .input{
        display: flex;
        background-color: white;
        border-radius: 5px;

        ::placeholder {
            text-align: center;
        }
        
        &:hover{
            cursor: pointer;
        }
    }
}