.card{
    margin: 15px 0px 15px 0px;
    width: 380px;
    border-radius: 10px;
    background: white;
    padding: 10px;
    word-wrap: break-word;
    overflow: visible;
    border: 1px solid transparent;
    color: black;

    .floating-button{
        position: absolute;
        z-index: 100;
    }

    .content{
        text-transform: none;
        cursor: none;

        &:hover{
            cursor: pointer;
        }
    }

  

    .delete-btn{
        border-radius: 15px;
        padding: 0;
        margin-left: 80%;
        font-size: 12px;
        text-transform: none;
    }

    &:hover{
        cursor: pointer;
        border: 1px solid orange;
    }
}

.dialog{
    .title{
        width: 500px;
    }

    .floating-button{
        float: top;
        text-transform: none;
        width: 20px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}
