.container {
    display: table;
    text-align: center;
    margin-left: 50%;
    margin-right: 50%;
    margin: 0 auto;
    .title{
        font-size: 30px;
        color: white;
        margin: 10px;
    }
    .wrapper {
        display: flex;
        flex-flow: row wrap;
        background-color: rgba(0, 0, 0, 0.5);
        width: 1250px;
        border-radius: 20px;

        .board {
            display: flex;
            flex-flow: column wrap;
            background-color: #e68a00;
            height: 80px;
            width: 200px;
            margin: 10px 30px;
            border-radius: 20px;
            padding: 20px;

            .description{
                position: absolute;
                width: 200px;
                word-break:break-all;
            }
            .btn-wrp {
                .btn {
                    width: 40px;
                    margin: 55px 18px 0px 18px;
                    text-transform: none;
                    .link{
                        text-decoration: none;
                        color: white;
                    }
                }
            }
            &:hover {
                background-color: #ffcc80;
                transition: opacity 1s linear;
                cursor: pointer;
            }
        }
    }
}
