.list{
    display: flex;
    align-items: center;
    flex-flow: column;
    background-color: rgba(0, 128, 255, 0.8);
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    min-width: 400px;
    height: 100%;

    .btn{
        width: 90px;
        padding: 0;
        text-transform: none;
        border-radius: 10px;
        word-break: break-all;
        margin-bottom: 20px;
    }

    .list-header{
        width: 400px;
        border-radius: 8px;
        display: flex;
        word-break: break-all;
        align-items: center;
        flex-flow: row nowrap;
        justify-content: space-around;
        background: white;
        
        .title{
            color: black;
            font-size: 20px;
            z-index: 1;

            &:hover{
                cursor: pointer;
            }
        }
    }
}